/* * {
  border:1px solid gray;
} */

.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
}
.search-form {
  width: 350px;
  font-size: 14px;
  display:flex;
  justify-content:center;
  border:1px solid #3333;
  border-radius:10px;
  background-color:#fafafa;
  padding:10px;
  font-size:120%;
}
.search-form input {
  text-align: left;
  color: #262626;
  width:100%;
  border:0;
  outline:none;
  background-color:inherit;
  font-size:inherit;
  font-family:inherit;
  margin-left:10px;
}

.image-wrapper {
  width:210px;
}

.image-wrapper, .social-wrapper {
  font-size:250%;
}

.logo-image {
  height: 100%;
  background-color:red;
}

.social-wrapper {
  display: flex;
}

.social {
  width: 50px;
  margin:0 10px 0 10px;
}
